<%- include("../partials/header-nonav") %>

<h1>Changing password for <%=user.email%></h1>

<% if (error && error != '') {%>
  <h3 class="alert alert-danger"><%=error%></h3>
<% } %>

<form action="/setpassword/<%=token%>?_method=PUT" method="POST">
  <div>
    <input
      type="password"
      name="password"
      id="originalPass"
      required="true"
      placeholder="New password"
    />
  </div>
  <div>
    <input
      type="password"
      id="repeatPass"
      name="repeatedPassword"
      placeholder="Confirm password"
      required="true"
    />
  </div>
  <button id="submitButton">Submit</button>
</form>

<script src="/passmismatch.js"></script>

<%- include("../partials/footer") %>
