<%- include("../partials/header") %>
<div class="container" id="animationContainer">
    <div class="row">
      <div class="col-12 col-md-9 center-element">
<div class="card">
    <div class="card-body">
      <div class="d-flex flex-row title-box justify-content-between align-items-center">
        <div class="card-head align-self-center m-1">
             <div href="" class="alert-link view-anim-link">
            <h4 class="card-title my-0"><%=animation.name%></h4> 
             </div>   
        </div>
        <div class="animation-category align-self-start m-1"><%=category%></div>
      </div>
      <img
        class="card-image"
        src="<%=animation.coverFrame%>"
        alt="animation thumbnail"
        data-id="<%=animation.id%>"
        data-speed="<%=animation.playSpeed%>"
        data-frames=""
        data-thumbnail="<%=animation.coverFrame%>"
      />
      <hr />
      <div class="guessForm">
        <!--Use this address for fetch <form action="#/guess/<%=animation.id%>?_method=PUT" method="PUT"></form> -->
        <div class="form-group center-element">
          <button class="btn btn-sm btn-info guess-button">Guess!</button>
          <div class="my-1 guess-attempt-result">Uh oh you didnt guess</div>
          <input type="text" class="guess-input my-4 p-0" />
        </div>
      </div>
      <div class="animation-description my-2"><%=animation.description%></div>
      <hr />
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="bolded-small">
          <img class="profile-picture-sm" src="/images/default-avatar.png"></img>
          <%=animation.creator.name%>
          </div>
        <div class="date"><%=animation.draftDate%></div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="back" class="alert-link">Go back</a>
    </div>
    </div>
    
  </div>
</div>
</div>

</div>

<script src="/dateParser.js"></script>
<script src="/playAnimation.js"></script>
<%- include("../partials/footer") %>